<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Your words piggified!</title>
  </head>
  <body>
    <h1>New Pig Latin Words</h1>
    <h2> <%= @piglatinizer %> </h2>
  
  </body>
</html>